<div class="row it_GMWKGLOTJSZH ">
    <div class="it_PLPQYPIXDPQD col-xs-12    ">
        <div class="module ">
            <section id="homepage-blog" class="block">
                <h4 class='title_block'><a href="index867c.html?fc=module&amp;module=smartblog&amp;controller=category&amp;id_lang=5">Art Events</a></h4>
                <div class="block_content">
                    <ul>
                        <li>
                            <div>
                                <div class="blog-image">
                                    <a href="index1d55.html?fc=module&amp;module=smartblog&amp;id_post=9&amp;slug=best-ideas-for-gift-wrapping-paintings-whethe&amp;controller=details&amp;id_lang=5">
                          <img alt="5 Best Ideas for Gift Wrapping Paintings: Whether the Original" class="img-responsive" src="http://via.placeholder.com/638x263">
                        </a>
                                    <p class="date-added">October 31, 2016</p>
                                </div>
                                <h6 class="post-cat"><a href="index3988.html?fc=module&amp;module=smartblog&amp;slug=photo-video&amp;controller=category&amp;id_lang=5">Decorative Art</a></h6>
                                <h5><a class="product-name" href="index1d55.html?fc=module&amp;module=smartblog&amp;id_post=9&amp;slug=best-ideas-for-gift-wrapping-paintings-whethe&amp;controller=details&amp;id_lang=5">5 Best Ideas for Gift Wrapping Paintings: Whether the Original</a></h5>
                            </div>
                            <div>
                                <a href="index1d55.html?fc=module&amp;module=smartblog&amp;id_post=9&amp;slug=best-ideas-for-gift-wrapping-paintings-whethe&amp;controller=details&amp;id_lang=5"
                                    class="btn btn-default btn-md"><span>En Lire Davantage</span></a>
                            </div>
                        </li>



                        <li>
                            <div>
                                <div class="blog-image">
                                    <a href="indexad5a.html?fc=module&amp;module=smartblog&amp;id_post=8&amp;slug=geometry-ways-to-dress-up-your-decor-with-geo&amp;controller=details&amp;id_lang=5">
                  <img alt="Geometry 101: 15 Ways to Dress up Your Décor with Geometrics" class="img-responsive" src="http://via.placeholder.com/638x263fault.jpg">
                </a>
                                    <p class="date-added">October 31, 2016</p>
                                </div>
                                <h6 class="post-cat"><a href="indexf166.html?fc=module&amp;module=smartblog&amp;slug=frescoes&amp;controller=category&amp;id_lang=5">Frescoes</a></h6>
                                <h5><a class="product-name" href="indexad5a.html?fc=module&amp;module=smartblog&amp;id_post=8&amp;slug=geometry-ways-to-dress-up-your-decor-with-geo&amp;controller=details&amp;id_lang=5">Geometry 101: 15 Ways to Dress up Your Décor with Geometrics</a></h5>
                            </div>
                            <div>
                                <a href="indexad5a.html?fc=module&amp;module=smartblog&amp;id_post=8&amp;slug=geometry-ways-to-dress-up-your-decor-with-geo&amp;controller=details&amp;id_lang=5"
                                    class="btn btn-default btn-md"><span>En Lire Davantage</span></a>
                            </div>
                        </li>



                        <li>
                            <div>
                                <div class="blog-image">
                                    <a href="index9f71.html?fc=module&amp;module=smartblog&amp;id_post=7&amp;slug=times-orlando-justina-emily-pulled-it-all-tog&amp;controller=details&amp;id_lang=5">
                  <img alt="6 Times Orlando, Justina & Emily Pulled it All Together with Art" class="img-responsive" src="http://via.placeholder.com/638x263fault.jpg">
                </a>
                                    <p class="date-added">October 31, 2016</p>
                                </div>
                                <h6 class="post-cat"><a href="index46be.html?fc=module&amp;module=smartblog&amp;slug=ullamcorper-erat&amp;controller=category&amp;id_lang=5">Vintage Art</a></h6>
                                <h5><a class="product-name" href="index9f71.html?fc=module&amp;module=smartblog&amp;id_post=7&amp;slug=times-orlando-justina-emily-pulled-it-all-tog&amp;controller=details&amp;id_lang=5">6 Times Orlando, Justina & Emily Pulled it All Together with Art</a></h5>
                            </div>
                            <div>
                                <a href="index9f71.html?fc=module&amp;module=smartblog&amp;id_post=7&amp;slug=times-orlando-justina-emily-pulled-it-all-tog&amp;controller=details&amp;id_lang=5"
                                    class="btn btn-default btn-md"><span>En Lire Davantage</span></a>
                            </div>
                        </li>



                        <li>
                            <div>
                                <div class="blog-image">
                                    <a href="index5050.html?fc=module&amp;module=smartblog&amp;id_post=6&amp;slug=national-friendship-day-amazing-artist-friend&amp;controller=details&amp;id_lang=5">
                  <img alt="National Friendship Day: 5-ish Amazing Artist Friendships" class="img-responsive" src="http://via.placeholder.com/638x263fault.jpg">
                </a>
                                    <p class="date-added">October 31, 2016</p>
                                </div>
                                <h6 class="post-cat"><a href="index6388.html?fc=module&amp;module=smartblog&amp;slug=cards-gallery&amp;controller=category&amp;id_lang=5">Photos to Art</a></h6>
                                <h5><a class="product-name" href="index5050.html?fc=module&amp;module=smartblog&amp;id_post=6&amp;slug=national-friendship-day-amazing-artist-friend&amp;controller=details&amp;id_lang=5">National Friendship Day: 5-ish Amazing Artist Friendships</a></h5>
                            </div>
                            <div>
                                <a href="index5050.html?fc=module&amp;module=smartblog&amp;id_post=6&amp;slug=national-friendship-day-amazing-artist-friend&amp;controller=details&amp;id_lang=5"
                                    class="btn btn-default btn-md"><span>En Lire Davantage</span></a>
                            </div>
                        </li>



                        <li>
                            <div>
                                <div class="blog-image">
                                    <a href="indexcbec.html?fc=module&amp;module=smartblog&amp;id_post=5&amp;slug=yi-shin-chiang-portraits-embrace-conflicting&amp;controller=details&amp;id_lang=5">
                  <img alt="Yi Shin Chiang Portraits Embrace Conflicting Emotions" class="img-responsive" src="http://via.placeholder.com/638x263fault.jpg">
                </a>
                                    <p class="date-added">October 31, 2016</p>
                                </div>
                                <h6 class="post-cat"><a href="index536c.html?fc=module&amp;module=smartblog&amp;slug=art&amp;controller=category&amp;id_lang=5">Art</a></h6>
                                <h5><a class="product-name" href="indexcbec.html?fc=module&amp;module=smartblog&amp;id_post=5&amp;slug=yi-shin-chiang-portraits-embrace-conflicting&amp;controller=details&amp;id_lang=5">Yi Shin Chiang Portraits Embrace Conflicting Emotions</a></h5>
                            </div>
                            <div>
                                <a href="indexcbec.html?fc=module&amp;module=smartblog&amp;id_post=5&amp;slug=yi-shin-chiang-portraits-embrace-conflicting&amp;controller=details&amp;id_lang=5"
                                    class="btn btn-default btn-md"><span>En Lire Davantage</span></a>
                            </div>
                        </li>



                        <li>
                            <div>
                                <div class="blog-image">
                                    <a href="index0a99.html?fc=module&amp;module=smartblog&amp;id_post=4&amp;slug=artists-to-watch-in-2017&amp;controller=details&amp;id_lang=5">
                  <img alt="Artists to watch in 2017" class="img-responsive" src="http://via.placeholder.com/638x263fault.jpg">
                </a>
                                    <p class="date-added">October 15, 2014</p>
                                </div>
                                <h6 class="post-cat"><a href="index3988.html?fc=module&amp;module=smartblog&amp;slug=photo-video&amp;controller=category&amp;id_lang=5">Decorative Art</a></h6>
                                <h5><a class="product-name" href="index0a99.html?fc=module&amp;module=smartblog&amp;id_post=4&amp;slug=artists-to-watch-in-2017&amp;controller=details&amp;id_lang=5">Artists to watch in 2017</a></h5>
                            </div>
                            <div>
                                <a href="index0a99.html?fc=module&amp;module=smartblog&amp;id_post=4&amp;slug=artists-to-watch-in-2017&amp;controller=details&amp;id_lang=5"
                                    class="btn btn-default btn-md"><span>En Lire Davantage</span></a>
                            </div>
                        </li>



                        <li>
                            <div>
                                <div class="blog-image">
                                    <a href="index3619.html?fc=module&amp;module=smartblog&amp;id_post=3&amp;slug=impact-the-heart-of-business&amp;controller=details&amp;id_lang=5">
                  <img alt="Impact - The Heart of Business" class="img-responsive" src="http://via.placeholder.com/638x263fault.jpg">
                </a>
                                    <p class="date-added">October 15, 2014</p>
                                </div>
                                <h6 class="post-cat"><a href="index46be.html?fc=module&amp;module=smartblog&amp;slug=ullamcorper-erat&amp;controller=category&amp;id_lang=5">Vintage Art</a></h6>
                                <h5><a class="product-name" href="index3619.html?fc=module&amp;module=smartblog&amp;id_post=3&amp;slug=impact-the-heart-of-business&amp;controller=details&amp;id_lang=5">Impact - The Heart of Business</a></h5>
                            </div>
                            <div>
                                <a href="index3619.html?fc=module&amp;module=smartblog&amp;id_post=3&amp;slug=impact-the-heart-of-business&amp;controller=details&amp;id_lang=5"
                                    class="btn btn-default btn-md"><span>En Lire Davantage</span></a>
                            </div>
                        </li>



                        <li>
                            <div>
                                <div class="blog-image">
                                    <a href="index3ac0.html?fc=module&amp;module=smartblog&amp;id_post=2&amp;slug=beautiful-rumi-quotes-that-are-worth-reading&amp;controller=details&amp;id_lang=5">
                  <img alt="Beautiful Rumi Quotes that are Worth Reading" class="img-responsive" src="http://via.placeholder.com/638x263home-default.jpg">
                </a>
                                    <p class="date-added">October 15, 2014</p>
                                </div>
                                <h6 class="post-cat"><a href="index46be.html?fc=module&amp;module=smartblog&amp;slug=ullamcorper-erat&amp;controller=category&amp;id_lang=5">Vintage Art</a></h6>
                                <h5><a class="product-name" href="index3ac0.html?fc=module&amp;module=smartblog&amp;id_post=2&amp;slug=beautiful-rumi-quotes-that-are-worth-reading&amp;controller=details&amp;id_lang=5">Beautiful Rumi Quotes that are Worth Reading</a></h5>
                            </div>
                            <div>
                                <a href="index3ac0.html?fc=module&amp;module=smartblog&amp;id_post=2&amp;slug=beautiful-rumi-quotes-that-are-worth-reading&amp;controller=details&amp;id_lang=5"
                                    class="btn btn-default btn-md"><span>En Lire Davantage</span></a>
                            </div>
                        </li>



                        <li>
                            <div>
                                <div class="blog-image">
                                    <a href="indexd87e.html?fc=module&amp;module=smartblog&amp;id_post=1&amp;slug=four-types-of-verbal-communication&amp;controller=details&amp;id_lang=5">
                  <img alt="Four Types of Verbal Communication" class="img-responsive" src="http://via.placeholder.com/638x263fault.jpg">
                </a>
                                    <p class="date-added">October 15, 2014</p>
                                </div>
                                <h6 class="post-cat"><a href="index46be.html?fc=module&amp;module=smartblog&amp;slug=ullamcorper-erat&amp;controller=category&amp;id_lang=5">Vintage Art</a></h6>
                                <h5><a class="product-name" href="indexd87e.html?fc=module&amp;module=smartblog&amp;id_post=1&amp;slug=four-types-of-verbal-communication&amp;controller=details&amp;id_lang=5">Four Types of Verbal Communication</a></h5>
                            </div>
                            <div>
                                <a href="indexd87e.html?fc=module&amp;module=smartblog&amp;id_post=1&amp;slug=four-types-of-verbal-communication&amp;controller=details&amp;id_lang=5"
                                    class="btn btn-default btn-md"><span>En Lire Davantage</span></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
    </div>
</div>