<div class="wrapper it_AZABDBRCXBVG gray-background">
  <div class="row it_KSDRREKZINYQ full-width">
    <div class="it_LDRIQHKKZFJW    col-lg-12 container">
      <div class="module ">
        <div id="htmlcontent_home">
          <ul class="htmlcontent-home clearfix row">
            <li class="htmlcontent-item-1 col-xs-12">
              <div class="item-html">
                <h3 class="item-title">Consultoría artística</h3>
                <p>En Torres Galeria ofrecemos servicios de consulta profesional para la hora 
                  de elegir una pieza de arte. Te apoyamos para determinar qué es lo que estás 
                  buscando según los ambientes y espacios  y sobre todo le aconsejamos sobre las
                   opciones disponibles según tu presupuesto. </p>
              </div>
              <div class="img-wrap">
                <img src="http://via.placeholder.com/672x500" class="item-img" title="Free Advisory Service"
                  alt="Free Advisory Service" width="672" height="499" />
              </div>
            </li>
            <li class="htmlcontent-item-2 col-xs-12">
              <div class="item-html">
                <h3 class="item-title">Art Rentals</h3>
                <p>We know, it's a novel idea. We launched art rentals to help people collect art without the risk. Live with
                  art and enjoy it at home at low monthly rates. Rotate works on your walls, and earn credits towards purchase.
                </p>
                <p>Moreover, with every art rental or purchase, you are directly supporting artists of tomorrow and today. Sounds
                  good, doesn't it?</p>
              </div>
              <div class="img-wrap">
                <img src="http://via.placeholder.com/672x500" class="item-img" title="Art Rentals"
                  alt="Art Rentals" width="672" height="499" />
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</div>