<div class="columns-container">
  <div id="columns">
    <div id="slider_row">
      <div id="top_column" class="center_column">

        <div class="row it_ZXCHMTURQWAL ">
          <div class="it_UKFYSXNCRYDW col-xs-12    ">
            <div class="module ">
              <!-- Module HomeSlider -->
              <div id="homepage-slider">
                <ul id="homeslider" style="max-height:874px;">
                  <li class="homeslider-container">
                    <a href="indexa022.html?id_category=14&amp;controller=category" title="sample-1">
                <img src="/assets/img/001.jpg" width="1842" height="874" alt="sample-1" />
              </a>
                    <div class="homeslider-description">
                      <h2>Pera</h2>
                      <p></p>
                    </div>
                  </li>
                  <li class="homeslider-container">
                    <a href="indexe234.html?id_category=17&amp;controller=category" title="sample-2">
                <img src="/assets/img/002.jpg" width="1842" height="874" alt="sample-2" />
              </a>
                    <div class="homeslider-description">
                      <h2>MANGLAR</h2>
                      <p></p>
                    </div>
                  </li>
                  <li class="homeslider-container">
                    <a href="indexaa00.html?id_category=15&amp;controller=category" title="sample-3">
                <img src="/assets/img/003.jpg" width="1842" height="874" alt="sample-3" />
              </a>
                    <div class="homeslider-description">
                      <h2>FOTO ARBOL</h2>
                      <p></p>
                    </div>
                  </li>
                </ul>
                <div class="controls">
                  <span id="slide-prev"></span>
                  <span id="slide-next"></span>
                </div>

              </div>
              <!-- /Module HomeSlider -->
            </div>
          </div>
        </div>
        <div class="wrapper it_PBYMFIVIDWKR container">
          <div class="row it_VJVMIBWVGRLB ">
            <div class="it_JRJMIERSLHYL col-xs-12    ">
              <div class="module ">
                <div id="htmlcontent_top">
                  <ul class="htmlcontent-home clearfix row">
                    <li class="htmlcontent-item-1 col-xs-12 col-sm-4 ">
                      <div>
                        <a href="" class="item-link" title="Find Original Art">
                          <div class="item-html">
                            <h2>Colección</h2>
                          </div>
                          <img src="http://via.placeholder.com/438x427" class="item-img"
                            title="Find Original Art" alt="Find Original Art" width="438" height="427" />
                        </a>
                      </div>
                    </li>
                    <li class="htmlcontent-item-2 col-xs-12 col-sm-4 ">
                      <div>
                        <a href="" class="item-link" title="Shop top categories">
                          <div class="item-html">
                            <h2>Categorías</h2>
                          </div>
                          <img src="http://via.placeholder.com/438x427" class="item-img"
                            title="Shop top categories" alt="Shop top categories" width="438" height="427" />
                        </a>
                      </div>
                    </li>
                    <li class="htmlcontent-item-3 col-xs-12 col-sm-4 ">
                      <div>
                        <a href="" class="item-link" title="Top artists this week">
                          <div class="item-html">
                            <h2>Top artista</h2>
                          </div>
                          <img src="http://via.placeholder.com/438x427" class="item-img"
                            title="Top artists this week" alt="Top artists this week" width="438" height="427" />
                        </a>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>