<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}" class="color_scheme">

{% include head.html %}

<body id="index" class="index hide-left-column hide-right-column lang_fr  one-column bg-index text-center">
  <div id="page" class="">

{% include header.html %}

<div class="div-comin-soon">

<h2 class="cs-title"> Coming  </h2>
<h3 class="cs-title"> soon </h3>
<!-- <img class="cs-img" src="/torresgaleria.com/assets/img/escultura.png"> -->
 </div>
{% include footer.html %}

  </div>
</body>

</html>
