--- 
layout: default
---

<div class="columns-container">
  <div class="columns">
    <div class="breadcrumb clearfix">
      <div class="container">
        <ul>
          <li class="home">
            <a class="home" href="{{ site.url }}/" title="Return to Home">
          <i class="fa fa-home"></i>
        </a>
          </li>
          <li class="last">{{ page.title }}</li>
        </ul>
      </div>
    </div>
    <div class="container">
      <div class="row">
        {{ content }}
      </div>
    </div>
  </div>
</div>