---
layout: page
---
<div class="row">
  <div class="col-md-8 col-sm-12">
    <img src="{{ page.image}}" alt="" width="100%" height="auto">
  </div>
  <div class="col-md-4 col-sm-12">
    <div class="post-info">
      <h2>{{ page.title}}</h2>
      <hr>
      <h3>Descripción:</h3>
      <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      <h3>Autor:</h3>
      <p><a href="/artist/{{ page.authorslug }}" >{{ page.author}}</a></p>
      <h3>Técnica:</h3>
      <p>{{ page.technique}}</p>
      <h3>Estilo:</h3>
      <p>{{ page.style}}</p>
      <h3>Medidas:</h3>
      <p>{{ page.measure}}</p>
      <h5>*Disponible</h5>
      <span>Para más información usa <a href="{{ site.url}}/contacto/"> este formulario de contacto</a></span>
    </div>
  </div>
</div>
<!-- end center infos-->
{% include products.html %}
<!--
<div class="post-content" itemprop="articleBody">
<h2>{{ page.title}}</h2>
<h3>{{ page.tec}}</h3>
<h4>{{ page.author}}</h4>
<p><img src="{{ page.image}}" alt="" width="100%" height="auto"></p>
</div> -->
