/**************************************************************************
		        Main style TM Mosaic Products
**************************************************************************/
.mosaic-block {
  margin-top: 70px;
  margin-bottom: 0; }
  @media (min-width: 1200px) {
    .mosaic-block {
      margin-top: 132px; } }
  .mosaic-block .title_block {
    margin-bottom: 20px; }
    @media (min-width: 768px) {
      .mosaic-block .title_block {
        margin-bottom: 30px; } }
    @media (min-width: 1200px) {
      .mosaic-block .title_block {
        margin-bottom: 48px; } }
    @media (max-width: 767px) {
      .mosaic-block .title_block:after {
        display: none; } }
  .mosaic-block .block-container-row .tmmp-frontend-banner h2,
  .mosaic-block .block-container-row .wrapper-slider h2,
  .mosaic-block .block-container-row .tmmp-frontend-html h2,
  .mosaic-block .block-container-row .tmmp-frontend-video h2 {
    font-size: 26px;
    font-family: "Russo One", sans-serif;
    letter-spacing: 0.06em;
    line-height: 1.2;
    margin: 0; }
    @media (min-width: 480px) {
      .mosaic-block .block-container-row .tmmp-frontend-banner h2,
      .mosaic-block .block-container-row .wrapper-slider h2,
      .mosaic-block .block-container-row .tmmp-frontend-html h2,
      .mosaic-block .block-container-row .tmmp-frontend-video h2 {
        font-size: 32px; } }
    @media (min-width: 768px) {
      .mosaic-block .block-container-row .tmmp-frontend-banner h2,
      .mosaic-block .block-container-row .wrapper-slider h2,
      .mosaic-block .block-container-row .tmmp-frontend-html h2,
      .mosaic-block .block-container-row .tmmp-frontend-video h2 {
        font-size: 40px; } }
    @media (min-width: 1200px) {
      .mosaic-block .block-container-row .tmmp-frontend-banner h2,
      .mosaic-block .block-container-row .wrapper-slider h2,
      .mosaic-block .block-container-row .tmmp-frontend-html h2,
      .mosaic-block .block-container-row .tmmp-frontend-video h2 {
        font-size: 60px; } }
  .mosaic-block .block-container-row .tmmp-frontend-banner p,
  .mosaic-block .block-container-row .wrapper-slider p,
  .mosaic-block .block-container-row .tmmp-frontend-html p,
  .mosaic-block .block-container-row .tmmp-frontend-video p {
    margin: 0;
    font-size: 16px;
    line-height: 1.36364;
    text-transform: uppercase;
    letter-spacing: 0.06em; }
    @media (min-width: 480px) {
      .mosaic-block .block-container-row .tmmp-frontend-banner p,
      .mosaic-block .block-container-row .wrapper-slider p,
      .mosaic-block .block-container-row .tmmp-frontend-html p,
      .mosaic-block .block-container-row .tmmp-frontend-video p {
        font-size: 18px; } }
    @media (min-width: 1200px) {
      .mosaic-block .block-container-row .tmmp-frontend-banner p,
      .mosaic-block .block-container-row .wrapper-slider p,
      .mosaic-block .block-container-row .tmmp-frontend-html p,
      .mosaic-block .block-container-row .tmmp-frontend-video p {
        font-size: 22px; } }
  .mosaic-block .block-container-row .tmmp-frontend-banner * + p,
  .mosaic-block .block-container-row .wrapper-slider * + p,
  .mosaic-block .block-container-row .tmmp-frontend-html * + p,
  .mosaic-block .block-container-row .tmmp-frontend-video * + p {
    margin-top: 7px; }
  .mosaic-block .block-container-row .tmmp-frontend-banner h3,
  .mosaic-block .block-container-row .wrapper-slider h3,
  .mosaic-block .block-container-row .tmmp-frontend-html h3,
  .mosaic-block .block-container-row .tmmp-frontend-video h3 {
    color: #333;
    margin: 0 0 25px; }
  .mosaic-block .block-container-row .tmmp-frontend-banner .btn,
  .mosaic-block .block-container-row .wrapper-slider .btn,
  .mosaic-block .block-container-row .tmmp-frontend-html .btn,
  .mosaic-block .block-container-row .tmmp-frontend-video .btn {
    margin-top: 32px; }
    @media (max-width: 479px) {
      .mosaic-block .block-container-row .tmmp-frontend-banner .btn,
      .mosaic-block .block-container-row .wrapper-slider .btn,
      .mosaic-block .block-container-row .tmmp-frontend-html .btn,
      .mosaic-block .block-container-row .tmmp-frontend-video .btn {
        display: none; } }
  .mosaic-block .block-container-row .tmmp-frontend-banner {
    position: relative;
    overflow: hidden; }
    .mosaic-block .block-container-row .tmmp-frontend-banner > a {
      display: block;
      position: relative; }
    .mosaic-block .block-container-row .tmmp-frontend-banner img {
      max-width: 100%;
      width: 100%; }
    .mosaic-block .block-container-row .tmmp-frontend-banner img + .tmmp-banner-description {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      -moz-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      -o-transform: translate(0, -50%);
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
      color: white;
      padding: 30px; }
      .mosaic-block .block-container-row .tmmp-frontend-banner img + .tmmp-banner-description .btn-default {
        color: white;
        -moz-box-shadow: inset 0 0 0 2px white;
        -webkit-box-shadow: inset 0 0 0 2px white;
        box-shadow: inset 0 0 0 2px white; }
        .mosaic-block .block-container-row .tmmp-frontend-banner img + .tmmp-banner-description .btn-default:after {
          border-color: white transparent transparent transparent; }
        .mosaic-block .block-container-row .tmmp-frontend-banner img + .tmmp-banner-description .btn-default:hover {
          color: #1d1d1d;
          -moz-box-shadow: inset 0 0 0 2px white;
          -webkit-box-shadow: inset 0 0 0 2px white;
          box-shadow: inset 0 0 0 2px white; }
        .mosaic-block .block-container-row .tmmp-frontend-banner img + .tmmp-banner-description .btn-default:active:focus, .mosaic-block .block-container-row .tmmp-frontend-banner img + .tmmp-banner-description .btn-default:active, .mosaic-block .block-container-row .tmmp-frontend-banner img + .tmmp-banner-description .btn-default:focus, .active > .mosaic-block .block-container-row .tmmp-frontend-banner img + .tmmp-banner-description .btn-default, .mosaic-block .block-container-row .tmmp-frontend-banner img + .tmmp-banner-description .btn-default.disabled, .mosaic-block .block-container-row .tmmp-frontend-banner img + .tmmp-banner-description .btn-default.btn[disabled], .disabled > .mosaic-block .block-container-row .tmmp-frontend-banner img + .tmmp-banner-description .btn-default {
          background: white;
          color: #1d1d1d; }
    .mosaic-block .block-container-row .tmmp-frontend-banner .tmmp-banner-description {
      text-align: center; }
    @media (min-width: 1200px) {
      .mosaic-block .block-container-row .tmmp-frontend-banner.adaptive-height {
        position: absolute;
        top: 0;
        left: 15px;
        right: 15px;
        bottom: 30px;
        height: auto;
        min-height: 0; }
        .mosaic-block .block-container-row .tmmp-frontend-banner.adaptive-height > a {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0; }
        .mosaic-block .block-container-row .tmmp-frontend-banner.adaptive-height img {
          position: absolute;
          left: 50%;
          top: 0;
          min-height: 100%;
          height: 100%;
          width: auto;
          max-width: none;
          -moz-transform: translate(-50%, 0);
          -ms-transform: translate(-50%, 0);
          -o-transform: translate(-50%, 0);
          -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0); } }
  .mosaic-block .block-container-row .wrapper-slider > h3 {
    font-size: 30px;
    text-align: center; }

/* tmmp_row_2 */
@media (max-width: 767px) {
  .tmmp_row_2 > li:first-child > div {
    padding-bottom: 30px;
    margin-bottom: 30px; } }

/* tmmp_row_3 */
@media (max-width: 767px) {
  .tmmp_row_3 li:nth-child(-n+2) > div {
    padding-bottom: 30px;
    margin-bottom: 30px; } }

/* tmmp_row_4 */
@media (max-width: 767px) {
  .tmmp_row_4 li:nth-child(-n+3) > div {
    padding-bottom: 30px;
    margin-bottom: 30px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .tmmp_row_4 li:nth-child(3) {
    clear: left; } }

@media (min-width: 768px) and (max-width: 991px) {
  .tmmp_row_4 li:nth-child(-n+2) > div {
    padding-bottom: 30px;
    margin-bottom: 30px; } }

/* tmmp_row_6 */
@media (min-width: 992px) and (max-width: 1199px) {
  .tmmp_row_6 li:nth-child(4) {
    clear: left; } }

@media (min-width: 768px) and (max-width: 991px) {
  .tmmp_row_6 li:nth-child(-n+4) > div {
    padding-bottom: 30px;
    margin-bottom: 30px; } }

@media (max-width: 767px) {
  .tmmp_row_6 li:nth-child(-n+5) > div {
    padding-bottom: 30px;
    margin-bottom: 30px; } }

/* tmmp_row_1_4 */
.tmmp_row_1_4 > li:last-child > ul > li:nth-child(3) {
  clear: left; }

.tmmp_row_1_4 > li > ul > li:nth-child(n+3):nth-child(-n+4) > div {
  margin-top: 30px;
  padding-top: 50px; }

@media (max-width: 767px) {
  .tmmp_row_1_4 > li > ul > li > div {
    margin-top: 20px;
    padding-top: 20px; } }

@media (min-width: 768px) and (max-width: 992px) {
  .tmmp_row_1_4 > li:first-child > div {
    margin-bottom: 30px;
    padding-bottom: 30px; } }

/* tmmp_row_4_1 */
.tmmp_row_4_1 ul > li:nth-child(3) {
  clear: left; }

.tmmp_row_4_1 li ul li:nth-child(n+3):nth-child(-n+4) > div {
  margin-top: 20px;
  padding-top: 20px; }

@media (min-width: 768px) and (max-width: 992px) {
  .tmmp_row_4_1 > li:last-child > div {
    margin-top: 30px;
    padding-top: 30px; } }

/* tmmp_row_2_1_2 */
.tmmp_row_2_1_2 li:first-child ul li:first-child > div,
.tmmp_row_2_1_2 li:nth-child(3) ul li:first-child > div {
  margin-bottom: 30px;
  padding-bottom: 30px; }

@media (max-width: 767px) {
  .tmmp_row_2_1_2 li ul li > div,
  .tmmp_row_2_1_2 > li:nth-child(2) > div {
    margin-bottom: 30px;
    padding-bottom: 30px; } }

@media (min-width: 1200px) {
  .tmmp_row_3_4 > li:nth-child(4) {
    clear: left; } }

/**************************************************************************
		        Style for banner and html content
**************************************************************************/
.tmmp-banner-description img,
.tmmp-frontend-html img {
  max-width: 100%;
  height: auto; }

/**************************************************************************
		        Style for Video
**************************************************************************/
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden; }
  .video-container iframe,
  .video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.tmmp-frontend-video .vjs-default-skin .vjs-big-play-button {
  height: 1.6em;
  width: 3em;
  font-size: 1.5em;
  border-radius: 0.5em; }
  .tmmp-frontend-video .vjs-default-skin .vjs-big-play-button:before {
    line-height: 1.5em; }

/**************************************************************************
		        Style for Slider
**************************************************************************/
.mosaic-block .bx-wrapper li img {
  max-width: 100%;
  height: auto; }
.mosaic-block .bx-wrapper .bx-controls-direction a {
  top: -40px;
  height: 40px;
  width: 40px;
  text-align: center; }
  @media (max-width: 767px) {
    .mosaic-block .bx-wrapper .bx-controls-direction a {
      display: none; } }
  .mosaic-block .bx-wrapper .bx-controls-direction a:before {
    color: #333;
    font-size: 40px; }
  .mosaic-block .bx-wrapper .bx-controls-direction a:hover:before {
    color: #777; }
  .mosaic-block .bx-wrapper .bx-controls-direction a.bx-next {
    right: -12px; }
    .mosaic-block .bx-wrapper .bx-controls-direction a.bx-next:before {
      content: "\f105"; }
  .mosaic-block .bx-wrapper .bx-controls-direction a.bx-prev {
    left: inherit;
    right: 20px; }
    .mosaic-block .bx-wrapper .bx-controls-direction a.bx-prev:before {
      content: "\f104"; }
.mosaic-block .bx-wrapper .bx-pager {
  bottom: -45px; }
  .mosaic-block .bx-wrapper .bx-pager a {
    background: #f5f5f5;
    height: 15px;
    width: 15px;
    border-radius: 50%; }
    .mosaic-block .bx-wrapper .bx-pager a.active, .mosaic-block .bx-wrapper .bx-pager a:hover {
      background: #333; }

/**************************************************************************
		        Style for Product
**************************************************************************/
.block-container-row > .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .block-container-row > .row:before, .block-container-row > .row:after {
    display: none; }
  @media (max-width: 1199px) {
    .block-container-row > .row > li:nth-child(2) {
      order: 4; } }
  .block-container-row > .row .product-image-container {
    text-align: center;
    position: relative; }
    .block-container-row > .row .product-image-container img {
      margin: 0 auto; }
    .block-container-row > .row .product-image-container .view-content {
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 10px 12px;
      background: rgba(29, 29, 29, 0.6);
      z-index: 1;
      -moz-transition: 0.3s all ease;
      -o-transition: 0.3s all ease;
      -webkit-transition: 0.3s all ease;
      transition: 0.3s all ease; }
      @media (min-width: 1200px) {
        .block-container-row > .row .product-image-container .view-content {
          left: 0;
          bottom: -70px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 18px 17px; } }
      @media (max-width: 767px) {
        .block-container-row > .row .product-image-container .view-content {
          display: none; } }
    .block-container-row > .row .product-image-container .quick-view {
      font-size: 30px;
      color: white; }
      .block-container-row > .row .product-image-container .quick-view:hover {
        color: #17c2cd; }
      @media (max-width: 767px) {
        .block-container-row > .row .product-image-container .quick-view {
          display: none; } }
  .block-container-row > .row .comments_note {
    text-align: center;
    overflow: hidden;
    line-height: 0;
    color: white; }
    .block-container-row > .row .comments_note .star_content {
      line-height: 1; }
    .block-container-row > .row .comments_note .nb-comments {
      overflow: hidden;
      display: inline-block;
      line-height: 1; }
      @media (min-width: 1200px) and (max-width: 1649px) {
        .block-container-row > .row .comments_note .nb-comments {
          display: none; } }
      .block-container-row > .row .comments_note .nb-comments:before {
        content: 'I';
        margin-left: 10px;
        margin-right: 11px; }
  @media (max-width: 767px) {
    .block-container-row > .row .button-container {
      border-top: 1px solid #c3c3c3;
      margin-top: 5px;
      padding-top: 12px; } }
  .block-container-row > .row .button-container .compare, .block-container-row > .row .button-container .wishlist {
    line-height: 0; }
    .block-container-row > .row .button-container .compare a, .block-container-row > .row .button-container .compare label, .block-container-row > .row .button-container .wishlist a, .block-container-row > .row .button-container .wishlist label {
      display: inline-block;
      font-weight: bold;
      color: #c3c3c3;
      cursor: pointer;
      line-height: 0; }
      .block-container-row > .row .button-container .compare a:before, .block-container-row > .row .button-container .compare label:before, .block-container-row > .row .button-container .wishlist a:before, .block-container-row > .row .button-container .wishlist label:before {
        line-height: 1.1; }
        @media (min-width: 992px) and (max-width: 1199px) {
          .block-container-row > .row .button-container .compare a:before, .block-container-row > .row .button-container .compare label:before, .block-container-row > .row .button-container .wishlist a:before, .block-container-row > .row .button-container .wishlist label:before {
            font-size: 22px; } }
        @media (max-width: 767px) {
          .block-container-row > .row .button-container .compare a:before, .block-container-row > .row .button-container .compare label:before, .block-container-row > .row .button-container .wishlist a:before, .block-container-row > .row .button-container .wishlist label:before {
            font-size: 24px; } }
      .block-container-row > .row .button-container .compare a:hover, .block-container-row > .row .button-container .compare label:hover, .block-container-row > .row .button-container .wishlist a:hover, .block-container-row > .row .button-container .wishlist label:hover {
        color: #17c2cd; }
  .block-container-row > .row .button-container .wishlist {
    display: inline-block;
    font-size: 30px; }
    .block-container-row > .row .button-container .wishlist a.checked:before {
      content: "\e016"; }
  .block-container-row > .row .button-container .compare {
    display: inline-block;
    font-size: 30px; }
    .block-container-row > .row .button-container .compare a.checked:before {
      content: "\e016"; }
  .block-container-row > .row .button-container > div + div {
    margin-left: 10px; }
    @media (min-width: 480px) {
      .block-container-row > .row .button-container > div + div {
        margin-left: 15px; } }
  @media (max-width: 767px) {
    .block-container-row > .row .new-box span, .block-container-row > .row .sale-box span {
      font-size: 14px;
      line-height: 16px;
      padding: 1px 5px; } }
  @media (max-width: 479px) {
    .block-container-row > .row .btn-sm, .block-container-row > .row .btn-group-sm > .btn {
      font-size: 10px;
      line-height: 15px;
      padding: 5px 8px; }
    .block-container-row > .row .new-box span, .block-container-row > .row .sale-box span {
      font-size: 10px;
      line-height: 15px;
      padding: 0 3px; } }
  .block-container-row > .row > li {
    position: relative;
    padding-bottom: 30px; }
    .block-container-row > .row > li > div {
      position: relative;
      height: 100%;
      min-height: 100%; }
    .block-container-row > .row > li .product-container {
      height: 100%;
      min-height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-direction: column;
      background: #f1f3f6;
      padding: 5px 15px 12px; }
      @media (min-width: 480px) {
        .block-container-row > .row > li .product-container {
          padding: 10px 25px 12px; } }
      @media (min-width: 768px) and (max-width: 991px), (min-width: 1850px) {
        .block-container-row > .row > li .product-container {
          padding: 16px 50px 24px; } }
      .block-container-row > .row > li .product-container .right-block {
        flex: 1 1 auto; }
      .block-container-row > .row > li .product-container .product-image-container {
        display: block;
        position: relative;
        overflow: hidden;
        padding-top: 16px; }
        @media (min-width: 480px) {
          .block-container-row > .row > li .product-container .product-image-container {
            padding-top: 20px; } }
        @media (min-width: 768px) {
          .block-container-row > .row > li .product-container .product-image-container {
            padding-top: 34px; } }
        .block-container-row > .row > li .product-container .product-image-container .product_img_link {
          display: block; }
      .block-container-row > .row > li .product-container h5 {
        margin: 0; }
        @media (min-width: 1200px) and (max-width: 1649px) {
          .block-container-row > .row > li .product-container h5 a {
            font-size: 16px; } }
        .block-container-row > .row > li .product-container h5 a span.list-name {
          display: none; }
      .block-container-row > .row > li .product-container .comments_note {
        text-align: center; }
        .block-container-row > .row > li .product-container .comments_note .star_content {
          display: inline-block;
          margin: 0 0 0 0; }
      .block-container-row > .row > li .product-container .product-desc {
        margin: 1px 0 0; }
        @media (max-width: 767px), (min-width: 1200px) and (max-width: 1649px) {
          .block-container-row > .row > li .product-container .product-desc {
            display: none; } }
      .block-container-row > .row > li .product-container .content_price .old-price {
        display: block;
        line-height: 1; }
      .block-container-row > .row > li .product-container .daydeal-box {
        position: absolute;
        top: 30px;
        left: 25px;
        padding: 0;
        padding-bottom: calc(100% - 50px);
        width: 52px; }
        @media (min-width: 768px) {
          .block-container-row > .row > li .product-container .daydeal-box {
            top: 44px;
            width: 65px; } }
        @media (min-width: 768px) and (max-width: 991px), (min-width: 1850px) {
          .block-container-row > .row > li .product-container .daydeal-box {
            top: 50px;
            left: 50px;
            padding-bottom: calc(100% - 100px); } }
        @media (max-width: 479px) {
          .block-container-row > .row > li .product-container .daydeal-box {
            display: none; } }
        .block-container-row > .row > li .product-container .daydeal-box > div {
          position: absolute;
          left: 50%;
          top: 50%;
          -moz-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          -o-transform: translate(-50%, -50%);
          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
          @media (min-width: 1200px) and (max-width: 1649px) {
            .block-container-row > .row > li .product-container .daydeal-box > div > span + span {
              margin-top: 12px; }
              .block-container-row > .row > li .product-container .daydeal-box > div > span + span:before {
                display: none; } }
      .block-container-row > .row > li .product-container .old-price,
      .block-container-row > .row > li .product-container .price,
      .block-container-row > .row > li .product-container .price-percent-reduction {
        display: inline-block; }
      @media (max-width: 1199px) {
        .block-container-row > .row > li .product-container .price-percent-reduction {
          display: none; } }
      @media (min-width: 768px) {
        .block-container-row > .row > li .product-container .product-price {
          padding-top: 9px; } }
      .block-container-row > .row > li .product-container .product-price.product-price-new, .block-container-row > .row > li .product-container .product-price.old-price {
        padding-top: 0; }
      .block-container-row > .row > li .product-container .product-flags {
        display: none; }
      .block-container-row > .row > li .product-container .hook-reviews {
        padding-top: 5px; }
        @media (max-width: 1199px) {
          .block-container-row > .row > li .product-container .hook-reviews {
            display: none; } }
      .block-container-row > .row > li .product-container .button-container .cart-btn {
        display: inline-block;
        line-height: 0;
        vertical-align: top; }
        .block-container-row > .row > li .product-container .button-container .cart-btn a {
          display: inline-block;
          margin: 0;
          padding: 0;
          background: none;
          box-shadow: none;
          color: #1d1d1d;
          border: none;
          line-height: 0;
          -moz-transition: 0.3s all ease;
          -o-transition: 0.3s all ease;
          -webkit-transition: 0.3s all ease;
          transition: 0.3s all ease; }
          .block-container-row > .row > li .product-container .button-container .cart-btn a:after {
            display: none; }
          .block-container-row > .row > li .product-container .button-container .cart-btn a:before {
            font-family: "fl-bigmug-line";
            content: "\e0a1";
            display: inline-block;
            font-weight: normal;
            font-size: 30px;
            line-height: 1.1; }
            @media (min-width: 992px) and (max-width: 1199px) {
              .block-container-row > .row > li .product-container .button-container .cart-btn a:before {
                font-size: 22px; } }
            @media (max-width: 767px) {
              .block-container-row > .row > li .product-container .button-container .cart-btn a:before {
                font-size: 24px; } }
          .block-container-row > .row > li .product-container .button-container .cart-btn a span {
            display: none; }
          .block-container-row > .row > li .product-container .button-container .cart-btn a:hover {
            color: #17c2cd; }
      .block-container-row > .row > li .product-container .right-block {
        padding: 15px 0 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
        @media (min-width: 768px) {
          .block-container-row > .row > li .product-container .right-block {
            padding-top: 34px; } }
        @media (min-width: 1200px) and (max-width: 1649px) {
          .block-container-row > .row > li .product-container .right-block {
            padding-top: 15px; } }
        .block-container-row > .row > li .product-container .right-block .bottom-content {
          padding: 8px 0; }
          @media (min-width: 768px) and (max-width: 1199px), (min-width: 1650px) {
            .block-container-row > .row > li .product-container .right-block .bottom-content {
              display: -webkit-box;
              display: -ms-flexbox;
              display: -webkit-flex;
              display: flex;
              align-items: center;
              justify-content: space-between;
              padding: 12px 0;
              min-height: 70px;
              border-top: 1px solid #c3c3c3;
              margin-top: 13px; } }
          @media (min-width: 1200px) and (max-width: 1649px) {
            .block-container-row > .row > li .product-container .right-block .bottom-content {
              padding-top: 15px; }
              .block-container-row > .row > li .product-container .right-block .bottom-content .button-container {
                margin-top: 15px; } }
      @media (min-width: 768px) and (max-width: 1199px) {
        .block-container-row > .row > li .product-container .product-name {
          font-size: 18px; } }
      @media (max-width: 767px) {
        .block-container-row > .row > li .product-container .product-name {
          font-size: 14px;
          line-height: 1.28571; } }
      .block-container-row > .row > li .product-container:hover .product-image-container .view-content {
        bottom: 0; }
  @media (max-width: 767px) {
    .block-container-row > .row {
      margin-left: -8px;
      margin-right: -8px; }
      .block-container-row > .row > li {
        padding-left: 8px;
        padding-right: 8px;
        padding-bottom: 16px; } }
